<h4>Cálculo del precio de una vivenda en Barcelona con regresión lineal multiple </h4>

In [1]:
#Importación de librerías
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
#Importamos el dataframe
df = pd.read_csv("Barcelona_Idealista.csv")
df

,id,city,district,neighborhood,condition,type,rooms,area_m2,lift,views,floor,prices
0,0,Barcelona,Eixample,la Dreta de l'Eixample,good condition,Flat,3,351,Yes,exterior,floor 1,2300000
1,1,Barcelona,Sarrià-Sant Gervasi,Sant Gervasi - Galvany,good condition,Flat,5,298,Yes,exterior,floor 3,1750000
2,2,Barcelona,Eixample,Sant Antoni,good condition,Penthouse,2,90,Yes,exterior,floor 7,590000
3,3,Barcelona,Eixample,la Dreta de l'Eixample,good condition,Flat,2,130,Yes,exterior,floor 1,450000
4,4,Barcelona,Horta-Guinardó,Can Baró,good condition,Terraced,3,110,No,exterior,Multiple,430000
...,...,...,...,...,...,...,...,...,...,...,...,...
3260,3260,Barcelona,Gràcia,la Vila de Gràcia,needs refurb,Flat,1,64,Yes,exterior,floor 1,295000
3261,3261,Barcelona,Ciutat Vella,Sant Pere - Santa Caterina i la Ribera,needs refurb,Flat,3,99,No,exterior,floor 2,420000
3262,3262,Barcelona,Les Corts,la Maternitat i Sant Ramon,needs refurb,Flat,4,127,Yes,exterior,floor 4,545000
3263,3263,Barcelona,Sant Martí,el Parc i la Llacuna del Poblenou,needs refurb,Flat,3,64,No,exterior,ground floor,170000
3264,3264,Barcelona,Ciutat Vella,el Raval,needs refurb,Flat,4,70,No,exterior,floor 1,178800

In [20]:
Dictneighborhood = dict
neighborhood=pd.unique(df.neighborhood)
for i in range(len(neighborhood)):
    keysDict=[]
    keysDict=i
    Dictneighborhood[keysDict[i]]=neighborhood[i]    
print(Dictneighborhood)

TypeError: 'int' object is not subscriptable

In [ ]:
#Eliminamos las celdas que son formato string menos la de lift
df.drop(['id','city','district','neighborhood','condition','type','views','floor'],axis=1,inplace=True)
df.head(5)

   rooms  area_m2 lift   prices
0      3      351  Yes  2300000
1      5      298  Yes  1750000
2      2       90  Yes   590000
3      2      130  Yes   450000
4      3      110   No   430000

In [ ]:
#Cambiamos los valores de la columna lift de string a booleano
df['lift']=df['lift'].map({
    'Yes':1,
    'No':0
})
df.head(5)

   rooms  area_m2  lift   prices
0      3      351     1  2300000
1      5      298     1  1750000
2      2       90     1   590000
3      2      130     1   450000
4      3      110     0   430000

In [ ]:
#usaremos el modelo de regresión lineal para predecir el precio de una casa
reg = linear_model.LinearRegression()
reg.fit(df.drop('prices',axis='columns'),df.prices)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#Ahora hacemos una predicción para comprobar como funciona, la primera casilla es el número de habitaciones
#la segunda casilla son los m2 de la vivienda y la Tercera un booleano de si tiene ascensor
reg.predict([[4,120,1]])

array([552005.25990284])

<h5> Exportamos el modelo </h5>

In [ ]:
from sklearn.externals import joblib
joblib.dump(reg, 'modelo_predecir_vivenda_BCN')

['modelo_predecir_vivenda_BCN']